.cityName {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-shadow: -0.6px 0 black, 0 0.6px black, 0.6px 0 black, 0 -0.6px black;
  font-weight: bold;
  .marker {
    font-size: 0.8rem;
    color: #fff;
    margin-right: 5px;
  }
}
.temperature {
  margin-top: -2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex: 1;
  justify-content: space-between;
  font-size: 8rem;
  font-weight: 400;
  line-height: 0.9;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  .temp {
    font-size: 7rem;
    font-weight: bold;
    margin-top: -3rem;
  }
  .status {
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
  }
}
